.btns {
    display: flex;
    gap: 39px;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .btn {
    background-color: transparent;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    text-align: start;
    padding-left: 21px;
    width: 20%;
    height: 41px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    color: #ffffff;
  }
  
  .click-btn {
    text-align: start;
    padding-left: 21px;
    width: 20%;
    height: 41px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    color: #000000;
    background-color: #87ceeb;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }

  .line-wrapper {
    flex-direction: column;
    justify-content: start;
    padding: 65px 40px 20px;
    width: 68%;
    display: flex;
  }
